body{
    background-image: url(https://fondosmil.com/fondo/9728.jpg);

    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma Regular;
}

.Container{
    display: flex;
}

.Container_Carpeta{
    width: 99.9%;
    height: 99.8%;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
}

.Barra_Lateral{
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #404244, #a1a1a1, #a1a1a1, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #404244, #a1a1a1, #a1a1a1, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Zona_Trabajo{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Cinta_Trabajos{
    width: 80%;
    height: 15%;
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: rgb(255, 255, 255);
}

.Cinta_Animacion{
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color:rgb(0, 0, 0);
}

.Cinta_Vertical_1{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 2%;
    background-color: rgb(255, 255, 255);
}

.Cinta_Vertical_2{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 2%;
    background-color: rgb(255, 255, 255);
}

.Zona_Animacion{
    width: 70%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.Zona_Video{
    width: 90%;
    height: 70%;
    position: absolute;
    top: 2%;
    right: 5%;
    border-radius: 5px;
}

video{
    width: 100%;
}

.Play{
    width: 10%;
    height: 12%;
    position: absolute;
    top: 2%;
    right: 2%;
}

.Imagen_Play{
    width: 100%;
    height: 100%;
}

.Logo_20_Años{
    width: 10%;
    height: 13%;
    position: absolute;
    top: 5%;
    right: 3%;
}

.img_20_Años{
    width: 100%;
    height: 100%;
}

.Foro_Multimedia{
    width: 6%;
    height: 10%;
    position: absolute;
    top: 22%;
    right: 5%;
}

.Foro{
    width: 100%;
    height: 100%;
}

.Info_Materia{
    width: 4%;
    height: 6%;
    position: absolute;
    top: 37%;
    right: 6%;
}

.Info{
    width: 100%;
    height: 100%;
}

.Zona_Frames{
    width: 90%;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.Keyframe{
    width: 100%;
    height: 100%;
}

.Cinta{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Cuadrados{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Semi_Circulo2{
    width: 25px; 
    height: 50px; 
    border: 2px solid #3172DB;
    background: #4382FF;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
}

.Circulo2_1{
    position: absolute;
    top: 12.2%;
}

.Circulo2_2{
    position: absolute;
    top: 29.2%;
}

.Circulo2_3{
    position: absolute;
    top: 46.4%;
}

.Circulo2_4{
    position: absolute;
    top: 63.4%;
}

.Circulo2_5{
    position: absolute;
    top: 80.6%;
}

.pag_animacion{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 14%;
    left: 20%;
}

.pag_cortos_guiones{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 20%;
}

.pag_modelado{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 48%;
    left: 20%;
}

.pag_programacion{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 64%;
    left: 20%;
}

.pag_render{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 82%;
    left: 20%;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container_1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}
#boton-modal-1:checked ~ .modal-container_1{
    opacity: 1;
    visibility: visible;
}

.modal-container_2{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}
#btn-modal-1:checked ~ .modal-container_2{
    opacity: 1;
    visibility: visible;
}

.modal-container_3{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}
#btn-modal-1:checked ~ .modal-container_3{
    opacity: 1;
    visibility: visible;
}

.modal-container_4{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}
#btn-modal-1:checked ~ .modal-container_4{
    opacity: 1;
    visibility: visible;
}

.modal-container_5{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}
#btn-modal-1:checked ~ .modal-container_5{
    opacity: 1;
    visibility: visible;
}

.cabecera{
    position: fixed;
    top: 25.5%;
    left: 27.8%;
    width: 45%;
    height: 15px;
    padding: 4px;
    background: #ffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
}

.modal{
    width: 60%;
    height: 60%;
    transition: transform 0.5s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-1{
    width: 100%;
    height: 30%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.modal-2{
    width: 100%;
    height: 70%;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.modal_1{
    position: fixed;
    top: 27.9%;
    left: 27.8%;
    width: 45.4%;
    height: 51.4%;
    border-radius: 5px;
    transition: all 500ms ease;
    transform: translateY(-30%);
}
#btn-modal-1:checked ~ .modal-container_1 .modal_1{
    transform: translateY(0%);
}

.modal_2{
    position: fixed;
    top: 27.9%;
    left: 27.8%;
    width: 45.4%;
    height: 51.4%;
    border-radius: 5px;
    transition: all 500ms ease;
    transform: translateY(-30%);
}
#btn-modal-2:checked ~ .modal-container_2 .modal_2{
    transform: translateY(0%);
}

.modal_3{
    position: fixed;
    top: 27.9%;
    left: 27.8%;
    width: 45.4%;
    height: 51.4%;
    border-radius: 5px;
    transition: all 500ms ease;
    transform: translateY(-30%);
}
#btn-modal-3:checked ~ .modal-container_3 .modal_3{
    transform: translateY(0%);
}

.modal_4{
    position: fixed;
    top: 27.9%;
    left: 27.8%;
    width: 45.4%;
    height: 51.4%;
    border-radius: 5px;
    transition: all 500ms ease;
    transform: translateY(-30%);
}
#btn-modal-4:checked ~ .modal-container_4 .modal_4{
    transform: translateY(0%);
}

.modal_5{
    position: fixed;
    top: 27.9%;
    left: 27.8%;
    width: 45.4%;
    height: 51.4%;
    border-radius: 5px;
    transition: all 500ms ease;
    transform: translateY(-30%);
}
#btn-modal-4:checked ~ .modal-container_5 .modal_5{
    transform: translateY(0%);
}

.modal_1 label{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.modal_1 video{
    width: 100%;
}

.close{
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.modal-1 > img{
    position: absolute;
    top: 0%;
    left: -1.2%;
    width: 101%;
    height: 100%;
}

.modal-2 > h2{
    position: absolute;
    top: 0;
    font-size: xx-large;
    color: white;
}

.modal-2 > p{
    font-size: large;
    color: white;
    text-align: left;
}



@media screen and (min-width: 1521px) {
    .Seccion_Modelado img, .Seccion_Programacion img{
     height: 65%;
   }

   .Seccion_Animacion img, .Seccion_Guiones img{
       height: 85%;
     }

     .Seccion_Guiones img, .Seccion_Render img{
       height: 75%;
     }
 }

 @media screen and (max-width: 1520px) {
   .Seccion_Animacion, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
       height: 50%;
   }
 }
 

 
 .Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
   width: 50%; 
   height: 10%;
   margin-top: 45%;
   margin-bottom: 45%;
 }


 .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
   width: 200%; 
   height: 100%; 
   background: #747474;
   -moz-border-radius: 0 100px 100px 0;
   -webkit-border-radius: 0 100px 100px 0;
   border-radius: 0 100px 100px 0;
 }
 


.Botones_laterales button:hover{
   background: #999999;
   color:  #747474;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
   transition: transform 1s ease-in-out;
   transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
   transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
   transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
   transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
   transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
   transform:  translateX(1%)
}

.lbl-modal-1{
    width: 18.2%;
    height: 69.9%;
    position: absolute;
    top: 15%;
    left: 1.2%;
    cursor: pointer;
}

.lbl-modal-1 > img{
    width: 100%;
    height: 100%;
}

.boton-modal-1{
    display: none;
}

.lbl-modal-2{
    width: 18.2%;
    height: 69.9%;
    position: absolute;
    top: 15%;
    left: 21%;
    cursor: pointer;
}

.lbl-modal-2 > img{
    width: 100%;
    height: 100%;
}

.btn-modal-2{
    display: none;
}

.lbl-modal-3{
    width: 18.2%;
    height: 69.9%;
    position: absolute;
    top: 15%;
    left: 40.9%;
    cursor: pointer;
}

.lbl-modal-3 > img{
    width: 100%;
    height: 100%;
}

.btn-modal-3{
    display: none;
}

.lbl-modal-4{
    width: 18.2%;
    height: 69.9%;
    position: absolute;
    top: 15%;
    left: 60.8%;
    cursor: pointer;
}

.lbl-modal-4 > img{
    width: 100%;
    height: 100%;
}

.btn-modal-4{
    display: none;
}

.lbl-modal-5{
    width: 18.2%;
    height: 69.9%;
    position: absolute;
    top: 15%;
    left: 80.7%;
    cursor: pointer;
}

.lbl-modal-5 > img{
    width: 100%;
    height: 100%;
}

.btn-modal-5{
    display: none;
}

#video-fondo{
    position: absolute;
    top: 0%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.zona-background{
    position: fixed;
    width: 100%;
    height: 100%;
}

.zona-background > video{
    width: 100%;
    height: 100%;
}

#video-fondo{
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
}