*{
	margin: 0px;
    padding: 0px;
         
}
body{
	margin:auto;
	background-color: #00c6fb;
	align-items: center;
	text-align: center;

}
.cosasuperior, .cosainferior{
	background:#0064eb;
	height: 30%;
}
.logo20login{
	width:40%;
	height:30%;
	padding-top: 100px;
}
.IngresoDatos{
	padding-top: 40px;
}
.botoneslogin{
	padding-top: 30px;
}
.botonlogin1{

}
form input[type="text"]{
	width:350px;
	height: 40px;
	padding:3px 20px;
	border:1px solid #ffffff;
	border-radius:15px;
	background-color:#ffffff;
	font-family: Calibri;
	font-size: large;
	color:#000000;
	margin:8px 0;
	display:inline-block;
}

form input[type="password"]{
	width:350px;
	height: 40px;
	padding:3px 20px;
	border:1px solid #ffffff;
	border-radius:15px;
	background-color:#ffffff;
	font-family: Calibri;
	font-size: large;
	color:#000000;
	margin:8px 0;
	display:inline-block;
}
form input[type="reset"]{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #ff4a4a;
	border-radius:10px;
	background-color:#ff4a4a;
	font-family: Calibri;
	font-size: large;
	color:#ffffff;
	margin:8px 0;
	display:inline-block;
}
form input[type="reset"]:hover{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #000000;
	border-radius:10px;
	background-color:#ffffff;
	font-family: Calibri;
	font-size: large;
	color:#000000;
	margin:8px 0;
	display:inline-block;
}
form input[type="submit"]{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #ffffff;
	border-radius:10px;
	background-color:#ffffff;
	font-family: Calibri;
	font-size: large;
	color: #000000;
	margin:8px 0;
	display:inline-block;
}
form input[type="submit"]:hover{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #000000;
	border-radius:10px;
	background-color:#000000;
	font-family: Calibri;
	font-size: large;
	color:#ffffff;
	margin:8px 0;
	display:inline-block;
}



.botonregistro{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #ff4a4a;
	border-radius:10px;
	background-color:#ff4a4a;
	font-family: Calibri;
	font-size: large;
	color:#ffffff;
	margin:8px 0;
	display:inline-block;
}
.botonregistro:hover{
	width:150px;
	height: 35px;
	padding:3px 20px;
	border:1px solid #000000;
	border-radius:10px;
	background-color:#ffffff;
	font-family: Calibri;
	font-size: large;
	color:#000000;
	margin:8px 0;
	display:inline-block;
}

.registro{
	padding-top: 1%;
}
.error{
	color:red;
	font-family: Calibri;
	font-size: large;
	background-color: white;
	border-radius: 20%;
	margin-right: 45%;
	margin-left: 45%;
	margin-bottom: 1%;
	margin-top: 0.8%;
}

