body{    
    background-color: rgb(61,61,61);
    margin: 0;
    padding: 0;
    font-family: Tahoma Regular;
}


.Boton_Foro, .Boton_Info, .Boton_20, .codigo_1, .codigo_2, .codigo_3, .codigo_4, .codigo_5, .codigo_6{
    background: none;
    border: 0;
}
.codigo_1, .codigo_2, .codigo_3, .codigo_4, .codigo_5, .codigo_6{
    color:white;
    font-size: 20px;
}


.logo_programacion{
    width: 20%;
    padding-top: 15%;
}

.Container{
    display: flex;
}


.logoinicio{
    width: 45%;
}

.Container_Programacion{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    font-family: Inconsolata Regular;
}
.Barra_Superior{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: rgb(35, 90,217);
    border-top: 2px solid rgba(91, 151, 250, 1);
}
.boton_cerrar{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}

.HeaderProgramacion{
	display: flex;
	align-items: center;
    width: 100%;
    height: 18%;
    background-color: rgb(61,61,61);
}

.logo20añosheader{
width: 15%;
}

.logoheader{
    padding-left: 2%;
	width: 70%;
    height: 70%;
}

.logoheader2{
	padding-top: 8%;
	width: 100%;
	height: 100%;
}

.header2letra1, .header2letra2{
    background: none;
    border: 0;
    color: rgb(35, 90,217);
}

.compilar{
	padding-top: 15px;
	border: 2px solid rgb(44,44,42);
	height: 50px;
	width: 150px;
}
.letracompilar1{
	padding-left: 2%;
	text-decoration: none;
	color:rgb(59,132,55);
}
.letracompilar2{
	text-decoration: none;
	color:white;
}
.recuadro1{
	padding-top: 15px;
	align-items: center;
	text-align: center;
	height: 50px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}
.letrarecuadro1{
	text-decoration: none;
	color:rgb(59,132,55);
    background: none;
    border: 0;
}
.recuadro2{
	align-items: center;
	text-align: center;
	height: 50px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}

.recuadro3{
	align-items: center;
	text-align: center;
	height: 50px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}

.Barra_Lateral_Izquierda{

    background-color: rgb(81, 81, 81);
}

.Barra_Lateral_Izquierda2{
    border-left: 3px solid rgb(81, 81, 81);
    border-right: 3px solid rgb(81, 81, 81);
    background-color: rgb(53, 53, 53);
}

.contador{
    color:#45c0d0;
    text-align: center;
}
.contador>ul{
    list-style:none;
}

.Zona_Central{
    border-left: 3px solid rgb(81, 81, 81);
    border-right: 3px solid rgb(81, 81, 81);
    background-color: rgb(53, 53, 53);
    height: 1800px;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
}


.Zona_Derecha{
    background-color: rgb(81, 81, 81);
}

.headerzonaderecha{
    background-color: rgb(61, 61, 61);
    font-weight: bold;
    font-size:x-large;
    align-items: center;
    text-align: left;
    padding-top:7%;
    color:rgb(149,149,149);
}

.header2zonaderecha{
	width: 100%;
    height: 4.5%;
    background-color: rgb(68, 68, 68);
    font-weight: bolder;
    font-size:large;
    align-items: center;
    text-align: left;
    padding-top:4%;
    color:rgb(120,120,120);
}


.contenidozonaderecha{
	background-color: rgb(0, 0, 0);
	width:100%;
    height: 80%;
    background-color: rgb(53, 53, 53);
    border-left: 12px solid rgb(81,81,81); 
    border-right:12px solid rgb(81,81,81); 
    border-bottom: 12px solid rgb(81,81,81); 
    color: white;
    text-align: left;
}
.contenidozonaderecha>ul{
    font-size: large;
}

.modalcontainerpro{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

@media screen and (max-width:768px) {
    .modalpro{
        width: 80%;
        height: 50%;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        transition: transform 1s;
        transform:translateY(-50%); 
    } 
}
.modalpro{
    width: 60%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}
.closepro{
    position: absolute;
    top:-12px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}
.modal-closepro{
    transform: translateY(200%);
}

.headerventana{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: white;
    text-align: left;
}
.nombreventana{
    position: absolute;
    top:-12px;
    left: 5px;
}

.ventana{
    position: absolute;
    top:5%;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgb(0,0,0);
    color:white;
    text-align: left;
}
.ventana>h1{
    text-align: center;
}
.logoiconito{
    padding-top: 5%;
    width: 90%;
    height: 90%;
}

@media screen and (min-width: 1521px) {
    .Seccion_Modelado img{
     height: 50%;
   }

   .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
       height: 55%;
     }

     .Seccion_Guiones img{
       height: 65%;
     }
 }

 @media screen and (max-width: 1520px) {
   .Seccion_Animacion img, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
       height: 40%;
   }
 }


.Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
    width: 50%; 
    height: 10%;
    margin-top: 35%;
    margin-bottom: 35%;
  }


  .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 200%; 
    height: 100%; 
    background: #747474;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    border-color: #747474;
    cursor:pointer;
  }
  



.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(0.1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}

.logo_animacion{
    height: 100%;
}
.img-fluid1{
    width: 30%;
}
.modalcontainerpro1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.modalpro1{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}
.closepro1{
    position: absolute;
    top:-12px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}
.modal-closepro1{
    transform: translateY(200%);
}
.logoiconito1{
    padding-left: 10%;
    width: 80%;
    margin-top: -3%;
    background: none;
    border: 0;
}

video{
    width: 100%;
}

.textozonacentral{
    color: white;
    padding-left: 5%;
}

