body {	
  background-size: 100% 100%;	
  /*background-color: rgb(38, 38, 38);*/
  margin: 0;
  padding: 0;
  background-image: url("images/fondorenderbn.png") ;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  /*box-sizing: border-box;*/
}

.Boton_Foro, .Boton_Info, .Boton_20, .Boton_galeria ,.boton_modelado, .boton_texturas, .boton_render, .boton_post{
  background: none;
  border: 0;
  font-size: 25px;
  color:white;
  font-family: 'Montserrat', sans-serif;
}

.btn-mas{
  font-size: 25px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.logo_render{
  width: 25%;
  padding-top: 10%;
}


.botones_laterales{
 /*background-color: cadetblue;*/
  position: relative;
  z-index: 10;
  height: 900px;
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background-image: url("images/fondorender.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-image: url("images/fondo_render.jpg"); */
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px rgb(192, 200, 223);
}

@media screen and (min-width: 1521px) {
  .Seccion_Modelado img{
   height: 60%;
 }

 .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
     height: 65%;
   }

   .Seccion_Guiones img{
     height: 75%;
   }
}

@media screen and (max-width: 1520px) {
 .Seccion_Animacion, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
     height: 50%;
 }
}



.Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion {
 width: 50%; 
 height: 10%;
 margin-top: 50%;
 margin-bottom: 50%;
}
.Seccion_Render{
  width: 50%; 
 height: 10%;
 margin-top: 50%;
}

.Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
 width: 200%; 
 height: 100%; 
 background: #E77971;
 -moz-border-radius: 0 100px 100px 0;
 -webkit-border-radius: 0 100px 100px 0;
 border-radius: 0 100px 100px 0;
 border-color: #E77971;
}



.Botones_laterales button:hover{
 background: #50527E;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
 transition: transform 1s ease-in-out;
 transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
 transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
 transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
 transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
 transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
 transform:  translateX(1%)
}


.Botones_info{
 /*  background-color: darkmagenta;*/
  padding: 1%;
  
  position: relative;
  z-index: 10;
 
}

.img_20_Años{
  width: 175px;
  height: 175px;
}

.Foro{
  width: 125px;
  height: 125px;
}

.logoinfo{
  width: 100px;
  height: 100px;
  filter: invert(100%);
}

/*ul.botones_info li {
width:10%; height:100%;
padding-top: 1%;
margin: 1%;
padding: 1%;

}

ul.botones_info li img {
width: 75%; 
}*/

/*.boton_foro_header{
filter: invert(100%);
}
.boton_home{
margin-left: 5%;
margin-top: 15%;
width:100%; height:80%;
}*/
.visor_trabajo{
  
  height: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
/*background-color: coral;*/
position: relative;
z-index: 8;

}
.visor_trabajo_4 ,.visor_trabajo_5{
  
  height:100%;
  
  display: flex;  
  justify-content: center;
position: relative;
z-index: 8;

}
div.visor_trabajo img {
width: 80%;
object-fit: contain;
border-radius: 10%  10% 10% 10% ;
box-shadow: 5px 2px 8px #999;
}
div.visor_trabajo_4 img, div.visor_trabajo_5 img{
  
  object-fit: contain;
  border-radius: 10%  10% 10% 10% ;
  box-shadow: 5px 2px 8px #999;
  }

  
.info_trabajo{
  
background-color:rgb(182, 190, 204);   
margin: 5% 20% 0% 0%;
/*margin: 25px 50px 75px 100px;*/
/*padding: 10%, 10%, 0%, 0%;*/
padding: 10% 10% 10% 10%;

height: 90%;
border-radius: 80px 80px 80px 80px;
position: relative;
z-index: 8;
/*font-size: calc(1em + 1vw)*/

}
div.info_trabajo h2{
  font-size: 35px;
}
div.info_trabajo h3{
  font-size: 30px;
}
div.info_trabajo h3{
  font-size: 25px;
}
@media screen and (max-width:768px) {
  div.info_trabajo h2{
    font-size: 25px;
  }
  div.info_trabajo h3{
    font-size: 20px;
  }
  div.info_trabajo h3{
    font-size: 15px;
  }

  .img_20_Años{
    width: 85px;
    height: 85px;
  }
  
  .Foro{
    width: 65px;
    height: 65px;
    filter: invert(100%);
  }
  
  .logoinfo{
    width: 50px;
    height: 50px;
    
  }
  .boton_camara {
    width: 60px;
    
  }
  .botones_etapasrender{
    width: 200px;
  }
  .modalrender1{
    width: 90%;
    height: 50%;
    background-image: url("images/ventanarender.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    transform:translateY(-50%); 
    Overflow-y:scroll;
  }
}

div .info_trabajo h2{
  color: white;
  /*text-align: center;*/
}
.boton_camara{
  margin-top: 10%;
  /*background-color: cornflowerblue;*/
  position: relative;
z-index: 8;
}

div.boton_camara img{
  margin-top: 10%;
}

.botones_etapasrender{
  margin-top:5% ;
/*background-color: crimson;*/
display: flex;
justify-content: space-between; 
padding: 2%;
/*margin-left: 20%;*/
position: relative;
z-index: 8;
}

#btn-mas{
  display: none;
  cursor: pointer;
}
/*div.btn-mas img{
  
  cursor: pointer;
}*/
.botones_deslizantes{
  display: flex;
justify-content: space-between; 
/*background-color: darkblue;*/
margin-right: -15px;
opacity: 0;
visibility: hidden;
}
div.botones_deslizantes img{
width: 90%;
}
div.botones_deslizantes {
  transition: all 500ms ease;
}
#btn-mas:checked~ .botones_deslizantes{
  margin-right: 10px;
  opacity: 1;
  visibility: visible;

}
/*
.modal_render{
 
  background-color: crimson;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0,0.5);
   opacity: 0;
   visibility: hidden;
}
.ventana_modal{
  width: 50%;
  margin: auto;
  background-image: url("images/windows\ xp\ wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;	
  transition: all 500ms ease;
  
  transform: translateY(-30%);

 
}
.ventana_modal label{
  cursor: pointer;
}
#btn-modalrender:checked~ .modal_render{
  transition: all 500ms ease;
  opacity: 1;
  visibility: visible;
}
#btn-modalrender:checked~ .modal_render.ventana_modal{
  transform: translateY(0%);
  
}*/

.headerventana{
  width: 100%;
  height: 10%;
  background-color:#E2E2E2;
  text-align: left;
}

.ventana{
  width: 100%;
  height: 100%;
  /*background-color: darkslateblue;*/
  
  color: white;
  text-align: center;
  
}

.modalcontainerrender1{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  bottom:0;
  left:0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items:flex-end;
  Overflow-y:scroll;
}
.modalrender1{
  width: 60%;
  height: 50%;
  background-image: url("images/ventanarender.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 1s;
  transform:translateY(-50%); 
  Overflow-y:scroll;
}

.closerender1{
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  color:black;
  cursor: pointer;
  border-radius: 50%;
  text-shadow: 2px 2px 2px white;
}

.cerrarmodal{
  margin-top: 35%;
  margin-left: 40%;
width: 35%;
height: 35%;
}

.modal-closerender1{
  transform: translateY(200%);
}

.img_modal_1, .img_modal_2{
  width: 100%;
  padding: 2%;
  
}
.img_modal_2{
  width: 80%;
}
.info_modal_2{
  padding: 5%;
  
}
.info_modal{
  padding: 3%;
  
}
.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  z-index: 8;
  
  margin-top: 5%;
  /*padding-bottom: 10%;*/
  background: transparent;
  font-size: 30px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  
  z-index: 10;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,rgba(0, 0, 0, 0.4));
  border-radius: 50%;
  background: transparent;

}
