body{
    font-family: Tahoma Regular;
    margin: 0;
    padding: 0;
}

.Container_Carpeta{
    display: flex;
}

.Barra_Lateral{
    width: 10%;
    height: 97.6%;
    top: 2.4%;
    left: 0;

}

.Barra_Lateral{
    background-color: #323232;
}


.Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 50px; 
    height: 100px; 
    margin-top: 35%;
    margin-bottom: 35%;
    background: #747474;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
}

.Contenido{
    width: 100%;
    background-color: #323232;
}

.Modelo_1, .Modelo_2{
padding-top: 20%;
padding-left: 10%;
}

.img_20_Años{

    width: 360px;
    height: 214px;
}
