body{
    background-image: url('images/Fondo_Modelado 2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Tahoma Regular;
    margin: 0;
    padding: 0;
}


  @media screen and (min-width: 1521px) {
     .Seccion_Modelado img{
      height: 60%;
    }

    .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
        height: 65%;
      }

      .Seccion_Guiones img{
        height: 75%;
      }
  }

  @media screen and (max-width: 1520px) {
    .Seccion_Animacion img, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
        height: 50%;
    }
  }
  

  
  .Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
    width: 50%; 
    height: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
  }


  .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 200%; 
    height: 100%; 
    background: #50527E;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    border-color: #50527E;
  }
  


.Botones_laterales button:hover{
    background: #50527E;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}

.logo_animacion{
    height: 100%;
}



.Imagen_1, .Imagen_2 {
    padding-top: 15%;
    padding-bottom: 25%;
}

.pared_derecha_1{
    transform: skewY(45deg) translateY(6.5%);
}

.pared_abajo_1{
    height: 12.5%;
    transform: skewX(45deg) translateX(6.5%);
}

.pared_derecha_1_2{
    transform: skewY(45deg) translateY(6.5%);
}

.pared_abajo_1_2{
    height: 11.5%;
    transform: skewX(45deg) translateX(6.5%);
    
}

@media screen and (min-width: 2001px) {
    .pared_abajo_1_2{
        height: 11.5%;
        transform: skewX(45deg) translateX(6.5%);
    }
 }

 @media screen and (max-width: 2000px) {
    .pared_abajo_1_2{
        height: 8%;
        transform: skewX(45deg) translateX(6.5%);

    }
 }


.Boton_info{
    background-color: #6E6F90;
    height: 100%;
    width: 100%;
    display:block;
    margin: auto;
}

.info_modelo, .info_modelo_3{
    display: none;
    transform: translateY(13%);
}


.Boton_info_2{
    background-color: #6E6F90;
    height: 100%;
    width: 100%;
    display:block;
    margin: auto;
}

.info_modelo_2, .info_modelo_4{
    display: none;
    transform: translateX(12%);
    height: 80%;
}


.Botones_inferiores{
    padding-top: 10%;
    padding-bottom: 5%;
}

.img_20_Años{
    width: 225px;
    height: 128.4px;
}

.Foro{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

.logoinfo{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}


.headerventana{
    width: 100%;
    height: 5%;
    background-color:#E2E2E2;
    text-align: left;
}

.ventana{
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.modalcontainermodelado1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.modalmodelado1{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    transform:translateY(-50%); 
}

.closemodelado1{
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}

.cerrarmodal{
	width: 50%;
	height: 50%;
}

.modal-closemodelado1{
    transform: translateY(200%);
}

.info_modelo, .info_modelo_2, .info_modelo_3, .info_modelo_4, .info_modelo_5, .info_modelo_6, .info_modelo_7, .info_modelo_8, .info_modelo_9, .info_modelo_10, .info_modelo_11, .info_modelo_12, .info_modelo_13, .info_modelo_14, .info_modelo_15, .info_modelo_16{
    background-color: #9697C1;
}


@media screen and (min-width: 1521px) {
    .info_modelo, .info_modelo_3, .info_modelo_5, .info_modelo_7,.info_modelo_9, .info_modelo_11, .info_modelo_13, .info_modelo_15{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: none;
    }
    
    .info_modelo_2, .info_modelo_4, .info_modelo_6, .info_modelo_8, .info_modelo_10, .info_modelo_12, .info_modelo_14, .info_modelo_16{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: none;
        height: 80%;
    }
 }

 @media screen and (max-width: 1520px) {
    .info_modelo, .info_modelo_3, .info_modelo_5, .info_modelo_7,.info_modelo_9, .info_modelo_11, .info_modelo_13, .info_modelo_15{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: none;
    }
    
    .info_modelo_2, .info_modelo_4, .info_modelo_6, .info_modelo_8, .info_modelo_10, .info_modelo_12, .info_modelo_14, .info_modelo_16{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: none;
        height: 60%;
    }
 }