body{
    padding: 0;
    background-repeat: no-repeat;
    /*background-image: url("images/fondo_guiones_atras.png") ;*/
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
    font-family: Tahoma Regular;
}

.logo_guiones{
    width: 20%;
    padding-top: 15%;
}

.container_cortosguiones{
    width: 100%;
    height: 99.8%;
/*    width: 95%;
    height: 90%;*/
    border-radius: 5px;
    position: absolute;
    top: 0%;
    right: 0%;
   /* background-color: rgb(255, 255, 255);*/
    background-image: url("images/fondo_guiones.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border:1px solid rgb(0, 0, 0);
    
}
.Barra_Superior{
    display: flex;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    background-color: rgb(35, 90,217);
    border-top: 2px solid rgba(91, 151, 250, 1);
}
.boton_cerrar{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}
.zonabotonesnav{
  	width: 10%;
    height: 97.8%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 8;
}
.Circulo2_1{
    position: absolute;
    top: 3.1%;
    z-index: 10;
}

.Circulo2_2{
    position: absolute;
    top: 23.4%;
}

.Circulo2_3{
    position: absolute;
    top: 43.4%;
}

.Circulo2_4{
    position: absolute;
    top: 63.6%;
}

.Circulo2_5{
    position: absolute;
    top: 83.8%;
}
.Semi_Circulo{
    width: 25px; 
    height: 50px; 
    border: 2px solid rgb(0, 0, 0); 
    background: #E2E1D0;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
}

.Semi_Circulo2{
    width: 25px; 
    height: 50px; 
    border: 2px solid rgb(0, 0, 0);
    background: #E2E1D0;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
}
.pag_animacion{
    font-size: 90%;
    position: absolute;
    top: 5%;
    left: 12%;
    text-decoration: none;
    color:black;
}

.pag_cortos_guiones{
    font-size: 80%;
    position: absolute;
    top: 26%;
    left: 12%;
    text-decoration: none;
    color:black;
}

.pag_modelado{
    font-size: 90%;
    position: absolute;
    top: 46%;
    left: 12%;
    text-decoration: none;
    color:black;
}

.pag_programacion{
    font-size: 80%;
    position: absolute;
    top: 66%;
    left: 12%;
    text-decoration: none;
    color:black;

}

.pag_render{
    font-size: 90%;
    position: absolute;
    top: 86%;
    left: 12%;
    text-decoration: none;
    color:black;
}
.zonacentral{
	width: 50%;
	height: 97.8%;
 	position: absolute;
 	left: 25%;
 	bottom:0;
}
.zonavideo{
	width: 65%;
	height: 45%;
	position: absolute;
	bottom:50%;
	left:20%;
	background-color: #353535;
    z-index: 10;
}
.zonaguion{
	width: 70%;
	height: 30%;
	position: absolute;
	bottom:10%;
	left:17.5%;
	background-color: #D3D3D3;
    z-index: 10;
}
.zonaderecha{
	width: 25%;
    height: 97.8%;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 10;
}

.logo20años{
	width: 30%;
	position: absolute;
	right: 6%;
	bottom:87%;
}
.logoforo{
	width: 25%;
	position: absolute;
	right: 10%;
	bottom:75%;
}
.logoacercade{
	width: 25%;
	position: absolute;
	right: 10%;
	bottom:60%;
}
.logoinfo{
	width: 25%;
	position: absolute;
	right: 10%;
	bottom:45%;
}
.obras{
	width: 30%;
	position: absolute;
	right: 5%;
	bottom:2%;
}

.modalcontainercortos{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.modalcortos{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}
.closecortos{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}
.cerrarmodal{
	width: 50%;
	height: 50%;
}
.modal-closecortos{
    transform: translateY(200%);
}

.headerventana{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color:#E2E2E2;
    text-align: left;
}

.ventana{
    position: absolute;
    top:5%;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #F4F4F4;
}
.modalcontainercortos1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.modalcortos1{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}
.closecortos1{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}

.modal-closecortos1{
    transform: translateY(200%);
}

.zonaderecha1{
	width: 15%;
    height: 97.8%;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 10;
}

.zona-autores{
    width: 70%;
    height: 97.8%;
    position: absolute;
 	left: 15%;
 	bottom:0;
    background: #fafafa;
    
}

.retrato{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 60%;
    background: #D3D3D3;
    border: 3px solid #000;
    border-radius: 5px;
}

.retrato-imagen{
    width: 100%;
    height: 100%;
    z-index: 10;
}

.foto-retrato{
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info-autores{
    position: absolute;
    top: 70%;
    left: 5%;
    width: 90%;
    height: 27%;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 10;
}

.zona-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.zona-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 36%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.zona-3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.zona-4{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.zona-5{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 36%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.zona-6{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media screen and (min-width: 1521px) {
    .Seccion_Modelado img{
     height: 60%;
   }

   .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
       height: 65%;
     }

     .Seccion_Guiones img{
       height: 75%;
     }
 }

 @media screen and (max-width: 1520px) {
   .Seccion_Animacion img, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
       height: 50%;
   }
 }

.Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
    width: 50%; 
    height: 12%;
    margin-top: 35%;
    margin-bottom: 35%;
    z-index: 10;
  }
  .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 200%; 
    height: 100%; 
    border-color:#F5F5DC;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    border-color:#FFFFBF; 
    cursor:pointer;
    z-index: 10;
  }

.Botones_laterales button:hover{
    background: #999999;
    color:  #747474;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}
.img-fluid1{
    width: 22%;
}

video{
    width: 100%;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
@import "compass/css3";

.magic {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 20rem;
    height: 20rem;
    background-image: url("images/fondo_guiones_atras.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-image: url("images/fondo_render.jpg"); */
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgb(192, 200, 223);
  }
  
