body{
    padding: 0;
    background-image: url("images/fondo_guiones.jpg") ;
    background-repeat: no-repeat;
    /*background-image: url("images/fondo_guiones_atras.png") ;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Tahoma Regular;
}

.Boton_Foro, .Boton_20, .Boton_info, .Boton_info_2, .Boton_galeria ,.Boton_Obras{
    background: none;
    border: 0;
}

.logo_guiones{
    width: 20%;
    padding-top: 15%;
}



.boton_cerrar{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}

.zonacentral{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.zonavideo{
    padding-top: 5%;
}
.zonaguion{
	width: 60%;
	height: 30%;
	background-color: #D3D3D3;
    margin-left: 10%;
}

.zonaderecha1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botones_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo20años{
	width: 50%;
}
.logoforo{
	width: 40%;
}
.logoacercade{
	width: 40%;
}
.logoinfo{
	width: 40%;
}
.obras{
	width: 50%;
}

.modalcontainercortos{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.modalcortos{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}

.closecortos{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: none;
    border: 0;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}
.cerrarmodal{
	width: 50%;
	height: 50%;
}
.modal-closecortos{
    transform: translateY(200%);
}

.headerventana{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color:#E2E2E2;
    text-align: left;
}

.ventana{
    position: absolute;
    top:5%;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #F4F4F4;
}
.modalcontainercortos1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.modalcortos1{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}
.closecortos1{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: none;
    border: 0;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}

.modal-closecortos1{
    transform: translateY(200%);
}


.zona-autores{
    flex-direction: column;
}

.zona_1, .zona_2{
    padding-top: 10%;
    display: flex;
    flex-direction: row;

}

.retrato{
    width: 90%;
    height: 60%;
    background: #D3D3D3;
    border: 3px solid #000;
    border-radius: 5px;
}

.foto-retrato{
    width: 100%;
    height: 100%;

}

.info-autores{
    width: 90%;
    height: 27%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.zona-1, .zona-2, .zona-3, .zona-4, .zona-5, .zona-6{
    width: 28%;
    height: 40%;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 1521px) {
    .Seccion_Modelado img{
     height: 60%;
   }

   .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
       height: 65%;
     }

     .Seccion_Guiones img{
       height: 75%;
     }
 }

 @media screen and (max-width: 1520px) {
   .Seccion_Animacion img, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
       height: 50%;
   }
 }

.Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
    width: 50%; 
    height: 12%;
    margin-top: 35%;
    margin-bottom: 35%;
    z-index: 10;
  }
  .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 200%; 
    height: 100%; 
    border-color:#F5F5DC;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    border-color:#FFFFBF; 
    cursor:pointer;
    z-index: 10;
  }

.Botones_laterales button:hover{
    background: #999999;
    color:  #747474;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}
.img-fluid1{
    width: 22%;
}

video{
    width: 100%;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

@import "compass/css3";

.magic {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 20rem;
    height: 20rem;
    background-image: url("images/fondo_guiones_atras.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-image: url("images/fondo_render.jpg"); */
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgb(192, 200, 223);
  }
  
.logoa1{
    display: none;
}

  