body{
	background-color: #00c6fb;
    align-items: center;
	text-align: center;
}

.logo20login{
	width:40%;
	height:30%;
	padding-top: 2%;
}

.loadhome{
    display: flex;
    flex-direction: column;
}