
body {	
  background-size: 100% 100%;	
  background-color: rgb(38, 38, 38);
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
.botones_laterales{
  background-color: cadetblue;
  
}

.Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
  width: 60px; 
  height: 120px; 
  
    margin-bottom: 50%;
  background: #747474;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
}

.botones_info {
height:  10%;
/*margin-left: 10%;*/
margin: 0% 0% 0% 10%;
background-color: blue;
/*justify-content: flex-end  ;*/

display: flex;
justify-content: flex-end;
}
ul.botones_info li {
width:10%; height:100%;
padding-top: 1%;
margin: 1%;
/*padding: 1%;*/

}

ul.botones_info li img {
width: 75%; 
}

.boton_foro_header{
filter: invert(100%);
}
.boton_home{
margin-left: 5%;
margin-top: 15%;
width:100%; height:80%;
}
.visor_trabajo{
background-color: coral;

}
div.visor_trabajo img{
width: 80%;
}
.info_trabajo{
background-color: darkgreen;   
margin: 10% 10% 0% 10%;
/*margin: 25px 50px 75px 100px;*/
/*padding: 10%, 10%, 0%, 0%;*/
padding: 10% 10% 0% 10%;

height: 90%;
border-radius: 80px 80px 80px 80px;
}
.botones_etapasrender{
background-color: crimson;
display: flex;
justify-content: space-between; 
/*margin-left: 20%;*/
}
.boton_camara{
  background-color: cornflowerblue;
  
  
}
div.boton_camara img{
  width:85%;
}
div.botones_etapasrender img{
width: 90%;
}