body{
    background-image: url(https://fondosmil.com/fondo/9728.jpg);

    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma Regular;
}
footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(35, 90,217);
}

.Container{
    display: flex;
}

.logoicono{
    height: 20%;
}

.Inicio{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(26,143,26);
}
.Inicio:hover{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(40,167,40);
    color:black;
}

.Acerca{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(58, 127, 243);
    text-align: center;
    align-items: center;
}
.Acerca:hover{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(91,151,250);
    text-align: center;
    align-items: center;
}
.Zona_Horaria{
    margin-left: 940px;
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(58, 127, 243);
}
.Zona_Horaria:hover{
    margin-left: 910px;
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(91,151,250);
}
.Container_Programacion{
    width: 95%;
    height: 90%;
    border-radius: 5px;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);

    
}
.Barra_Superior{
    display: flex;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    background-color: rgb(35, 90,217);
    border-top: 2px solid rgba(91, 151, 250, 1);
}
.boton_cerrar{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}
.HeaderProgramacion{
	display: flex;
	position: absolute;
	align-items: center;
    top: 20px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(61,61,61);
}
.logoheader{
	width: 10%;
}
.logoheader2{
	width: 100%;
	height: 100%;
}
.logo20añosiconoheader{
}
.compilar{
	padding-top: 15px;
	position: absolute;
	text-decoration: none;
	right: 52%;
	border:2px solid rgb(44,44,42);
	height: 35px;
	width: 150px;
	color:white;
}
.recuadro1{
	padding-top: 15px;
	position: absolute;
	right: 48%;
	align-items: center;
	text-align: center;
	height: 35px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}
.recuadro2{
	position: absolute;
	right: 44%;
	align-items: center;
	text-align: center;
	height: 50px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}

.recuadro3{
	position: absolute;
	right: 40%;
	align-items: center;
	text-align: center;
	height: 50px;
	width: 50px;
	border:2px solid rgb(44,44,42);
}

.Semi_Circulo{
    width: 25px; 
    height: 50px; 
    border: 2px solid rgb(0, 0, 0); 
    background: #5cb85c;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
}

.Circulo_1{
    position: absolute;
    left: 1.5%;
    top: 20%;
}

.Circulo_2{
    position: absolute;
    left: 1.5%;
    top: 35%;
}

.Circulo_3{
    position: absolute;
    left: 1.5%;
    top: 50%;
}

.Circulo_4{
    position: absolute;
    left: 1.5%;
    top: 65%;
}

.Circulo_5{
    position: absolute;
    left: 1.5%;
    top: 80%;
}
