body{
    background-image: url(https://fondosmil.com/fondo/9728.jpg);

    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma Regular;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 50px;
    background-color: rgb(35, 90,217);
}

.logo_20_mul{
    width: 30%;
    padding-top: 8%;
}

.Container{
    display: flex;
}

.logoicono{
    height: 28%;
}

.Zona_Botones{
/*    margin: auto;
*/    margin-top: 75px;
    margin-right: 100px;
    margin-left: 50px;
    text-align: center;
    width: 320px;
    height: 825px;
    /* background-color: red; */
}
.Boton{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.cta{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.Inicio{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: -10px;
    background-color: rgb(26,143,26);
}

.Inicio:hover{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: -10px;
    background-color: rgb(40,167,40);
    color:black;
}


.Acerca{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(58, 127, 243);
    text-align: center;
    align-items: center;
}
.Acerca:hover{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(91,151,250);
    text-align: center;
    align-items: center;
}

.Zona_Horaria{
    position: absolute;
    right: 0;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: large;
    padding-top: 15px;
    background-color: rgb(58, 127, 243);
}

.Zona_Horaria:hover{
    position: absolute;
    right: 0;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: large;
    padding-top: 15px;
    background-color: rgb(91,151,250);
}
.logoinicio{
    width: 45%;
}
.logoinicio2{
    width: 5%;
}

.modalcontainer{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: left;
    align-items:flex-end;
}

.modal{
    width: 40%;
    height: 65%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-8%); 
}
.close{
    position: absolute;
    top:-12px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:red;
    color:white;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px black;
}
.modal-close{
    transform: translateY(100%);
}

.headeriniciom{
    display:inline-flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #3875fc;
    position: absolute;
    top:0%;
    left:0;

}
.headeriniciom>img{
    padding-left: 1.5%;
    width: 5%;
}

.barraiconos1{
    position: absolute;
    top: 10%;
    left:0;
    height: 80%;
    width: 50%;
    background-color: white;
    text-align: left;
}
.iconoanimacion{
    align-items: center;
}
.iconoanimacion img{
    width: 8%;
}

.iconocortos img{
    width: 8%;
}

.iconomodelado img{
    width: 8%;
}

.iconoprogramacion img{
    width: 8%;
}

.iconorender img{
    width: 8%;
}
/*.barraiconos1>li{
    position: absolute;
    top:0;
    left:0;
}*/
.barraiconos2{
    position: absolute;
    top: 10%;
    left:50%;
    height: 80%;
    width: 50%;
    background-color: #84adf7;
    text-align: left;
}
.barraiconos2>img{
    padding-top: 5%;
    padding-left:5%;
    width: 10%;
}

.footercerrar{
    display: inline-flex;
    align-items: center;
    position: absolute;
    top:90%;
    left:0;
    height: 10%;
    width: 100%;
    background-color: #3875fc;
}

.footercerrar>img{
    padding-left: 70%;
    width: 10%;
}

.modal-container1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal1{
    display: flex;
    width: 70%;
    height: 75%;
    background: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    transition: transform 1s;
    transform:translateY(-8%); 
}

.barra-superior{
    position: absolute;
    width: 100%;
    height: 3%;
    background: #3875FC;
}

.barra-superior > p{
    display: flex;
    position: absolute;
    top: -50%;
    left: 0.5%;
    color: #ffff;
}

.close1{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}

.modal-close1{
    transform: translateY(200%);
}

.contenido-carrera{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 97%;
}

.zona-logo{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.zona-logo > img{
    width: 80%;
    height: 50%;
}

.espaciador{
    display: flex;
    width: 3%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.line{
    width: 2px;
    height: 95%;
    background: #000;
}

.contexto-carrera{
    width: 55%;
    height: 100%;
    position: absolute;
    right: 2%;
}

.nuestro-proposito{
    width: 100%;
    height: 25%;
    text-align: left;
    justify-content: left;
}

.perfil-de-aspirante{
    width: 100%;
    height: 25%;
    text-align: right;
    justify-content: right;
}

.perfil-de-egresado{
    width: 100%;
    height: 50%;
    text-align: left;
    justify-content: left;
}
.modal-container2{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal2{
    display: flex;
    width: 70%;
    height: 80%;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    transition: transform 1s;
    transform:translateY(-8%); 
}
.close2{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}

.modal-close2{
    transform: translateY(200%);
}

.Acerca1{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(58, 127, 243);
    text-align: center;
    align-items: center;
}
.Acerca1:hover{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(91,151,250);
    text-align: center;
    align-items: center;
}

.cta2{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}


.contenido-carreranosotros{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 97%;
    overflow-y: scroll;

}
.zonadiseñador{
    display: flex;
    align-items: center;
}
.zonadiseñador1{
    display: flex;
    align-items: center;
}
.zonaimageni{
    padding-top: 3%;
    padding-left: 5%;
    width: 20%;
/*    background-color: rgba(0,0,0,0.5);*/
}
.diseñadorlogoi{
    width: 100%;
    border-radius: 50%;
}

.zonaimagend{
    width: 20%;
/*    background-color: rgba(0,0,0,0.5);*/
    padding-right: 5%;
}
.diseñadorlogod{
    width: 100%;
    border-radius: 50%;
}

.zonatextod{
    width: 70%;
    padding-top: 3%;
    text-align: justify;
    align-items: center;
/*    background-color: rgba(0,0,0,0.5);*/
    vertical-align: middle;
    margin-left: 5%;
    margin-right: 5%;
}
.zonatextod>h2{
    text-align: center;
}
.zonatextoi{
    width: 70%;
/*    background-color: rgba(0,0,0,0.5);*/
    vertical-align: middle;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
.zonatextoi>h2{
    text-align: center;
}
.barraiconos1>ul{
    list-style: none;
}

.textoanimacion{
    text-decoration: none;
    color: black;
}
.textocortos{
    text-decoration: none;
    color: black;
}
.textomodelado{
    text-decoration: none;
    color: black;
}
.textoprogramacion{
    text-decoration: none;
    color: black;
}
.textorender{
    text-decoration: none;
    color: black;
}
.textoforo{
    text-decoration: none;
    color:black;
}
.footercerrar>img{
    padding-left: 80%;
    width: 5%;
}
.footercerrar>a{
    text-decoration: none;
    color:black;
}