body{
  background-image: url("images/fondo_foro_3.gif") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    font-family: Tahoma Regular;
    margin: 0;
    padding: 0;
}

.Boton_Foro, .Boton_20{
  background: none;
  border: 0;
}

.logo_foro{
  width: 20%;
  padding-top: 15%;
}
  
@media screen and (min-width: 1521px) {
  .Seccion_Modelado img{
   height: 60%;
 }

 .Seccion_Animacion img, .Seccion_Programacion img, .Seccion_Render img{
     height: 65%;
   }

   .Seccion_Guiones img{
     height: 75%;
   }
}

@media screen and (max-width: 1520px) {
 .Seccion_Animacion, .Seccion_Guiones img, .Seccion_Modelado img, .Seccion_Programacion img, .Seccion_Render img{
     height: 50%;
 }
}



.Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion {
 width: 50%; 
 height: 10%;
 margin-top: 40%;
 margin-bottom: 40%;
}
.Seccion_Render{
  width: 50%; 
 height: 10%;
 margin-top: 40%;
}

.Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
 width: 200%; 
 height: 80%; 
 background: #999999;
 -moz-border-radius: 0 100px 100px 0;
 -webkit-border-radius: 0 100px 100px 0;
 border-radius: 0 100px 100px 0;
 border-color: #747474;
}
 

.Botones_laterales button:hover{
    background: #999999;
    color:  #747474;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}
/*.header{
    background-color: chartreuse;
    display: flex;
    justify-content: flex-end;
}*/
.botones_header{
    background-color: rgb(89, 89, 89);
    padding: 1%;
    display: flex;
    justify-content: flex-end;
  }
  
  .img_20_Años{
    width: 75px;
    height: 42.8px;
  }
  
  .Foro{
    width: 50px;
    height: 50px;
    filter: invert(100%);
  }

  .field {
    display:flex;
    /*position:realtive;*/
    /*justify-content: center;*/
    padding-right: 2%; 
    width:70%;
    flex-direction:row;
    /*box-shadow:
     1px 1px 0 rgb(22, 160, 133),
     2px 2px 0 rgb(22, 160, 133),
     3px 3px 0 rgb(22, 160, 133),
     4px 4px 0 rgb(22, 160, 133),
     5px 5px 0 rgb(22, 160, 133),
     6px 6px 0 rgb(22, 160, 133),
     7px 7px 0 rgb(22, 160, 133)*/
    ;
  }
  
  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
  }
  
  .field>input[type=text] {
    flex:1;
    
    border:0.2em solid rgb(89, 102, 99);
  }
  
  .field>button {
    
    background-color:rgb(53, 53, 53);
    color:white;
    border:none;
  }
  .botones_secciones{
    
    display: flex;
    justify-content: space-evenly;
    padding: 1%;

  }
  div.botones_secciones button{
    background-color:rgb(170, 170, 170);
    padding: 10px;
    border-radius: 20px  20px 20px 20px ;
    width:15%;
    

  }
  .zona_escritura_post{
    padding: 1%;
    margin: 0% 0% 2% 0% ;
    background-color:rgb(142, 142, 142);
        
    border-radius: 20px 20px 20px 20px;

  }
  div.seleccion_tema form {
   
    display: flex;
    justify-content: center;    
  }
  div.seleccion_tema form input{
   
    /*display: flex;
    justify-content: space-evenly;*/
    margin: 0% 2% 0% 4%;
    
  }
  .input_post{
    /*display: flex;
    justify-content: space-between;*/
    text-align: center;
    align-items: center;
    margin: 0% 4% 0% 4%;

  }

  input[type=post] {
    border: 1px dotted #999;
    vertical-align: top;
    overflow: auto;
    width : 100%;
    height: 80px;
    
  
    -webkit-appearance: none;
    
  }
  .ultimos_post{
    background-color: rgb(142, 142, 142);
    border-radius: 20px 20px 20px 20px;
    
  }
  div.ultimos_post p{
    
    padding: 1% ;
    margin: 2% 0% 1% 0%;
  }
  .post{
    background-color: rgb(170, 170, 170);
    border-radius: 20px 20px 20px 20px;
    padding: 1%;
    
  }
  .post_1{
    
    background-color: rgb(193, 193, 193);
    border-radius: 20px 20px 20px 20px;
    padding: 1%;
    margin: 1%;
  }

  .post_1 a{
    text-decoration: none;
    color: black;
    font-size: large;
  }

  .botones_secciones .Category_List{
    display: block;
    width: 15%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: rgba(150, 150, 150, 0.7);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
  }

  .botones_secciones .ct_section_active{
    background: rgba(255, 255, 255, 0.7);
  }

.modalcontainerforo{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
 }

.modalforo{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform:translateY(-50%); 
}

.closeforo{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}
.modalcloseforo{
    transform: translateY(200%);
}
.Barra_Superior{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: rgb(35, 90,217);
    border-top: 2px solid rgba(91, 151, 250, 1);
}

.contenidomodal{
    position: absolute;
    top:5%;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgb(0,0,0);
    color:white;
    vertical-align: middle;
}
.seccionmodal{
  color:white;
}
.titulomodal{
  text-align: center;
  color:red;
}
.preguntamodal{
  padding-top: 10%;
  text-align: left;
  padding-left: 5%;
}