body{
    background-color: #323232;
    font-family: Tahoma Regular;
    margin: 0;
    padding: 0;
}


  .flecha-hacia-arriba{
    top: 2%;
    left: 95%;
    width: 100px;
    height: 100px;
    filter: invert(100%);
  }
  
  .Seccion_Animacion, .Seccion_Guiones, .Seccion_Modelado, .Seccion_Programacion, .Seccion_Render{
    width: 50%; 
    height: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
  }

  .Seccion_Animacion button, .Seccion_Guiones button, .Seccion_Modelado button, .Seccion_Programacion button, .Seccion_Render button{
    width: 200%; 
    height: 100%; 
    background: #747474;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
  }
  


.Botones_laterales button:hover{
    background: #999999;
    color:  #747474;
}

.Boton_animacion, .Boton_guiones, .Boton_modelado, .Boton_programacion, .Boton_render{
    transition: transform 1s ease-in-out;
    transform: translateX(-50%);
}

.Seccion_Animacion:hover .Boton_animacion{
    transform:  translateX(1%)
}

.Seccion_Guiones:hover .Boton_guiones{
    transform:  translateX(1%)
}

.Seccion_Modelado:hover .Boton_modelado{
    transform:  translateX(1%)
}

.Seccion_Programacion:hover .Boton_programacion{
    transform:  translateX(1%)
}

.Seccion_Render:hover .Boton_render{
    transform:  translateX(1%)
}

.logo_animacion{
    height: 100%;
}



.Imagen_1, .Imagen_2, .Imagen_3, .Imagen_4, .Imagen_5, .Imagen_6, .Imagen_7, .Imagen_8 {
    padding-top: 15%;
    padding-bottom: 15%;
}

.pared_derecha_1{
    transform: skewY(45deg) translateY(6.5%);
    background-color: lightblue;
}

.pared_abajo_1{
    height: 12.5%;
    transform: skewX(45deg) translateX(6.5%);
    background-color: lightblue;
}

.Boton_info{
    background-color: #999999;
    height: 100%;
    width: 100%;
    display:block;
    margin: auto;
}

.info_modelo, .info_modelo_3{
    display: none;
    transform: translateY(12%);
}


.Boton_info_2{
    background-color: #999999;
    height: 100%;
    width: 100%;
    display:block;
    margin: auto;
}

.info_modelo_2, .info_modelo_4{
    display: none;
    transform: translateX(12%);
    height: 80%;
}




.Botones_inferiores{
    padding-top: 10%;
    padding-bottom: 5%;
}

.img_20_Años{
    width: 225px;
    height: 128.4px;
}

.Foro{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

.logoinfo{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}


.headerventana{
    width: 100%;
    height: 5%;
    background-color:#E2E2E2;
    text-align: left;
}

.ventana{
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}

.modalcontainermodelado1{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.modalmodelado1{
    width: 40%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    transform:translateY(-50%); 
}

.closemodelado1{
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;
    background:transparent;
    color:black;
    cursor: pointer;
    border-radius: 50%;
    text-shadow: 2px 2px 2px white;
}

.cerrarmodal{
	width: 50%;
	height: 50%;
}

.modal-closemodelado1{
    transform: translateY(200%);
}