body{
    background-image: url(https://fondosmil.com/fondo/9728.jpg);

    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma Regular;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(35, 90,217);
}

.Container{
    display: flex;
}

.Boton{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.Inicio{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(26,143,26);
}
.Inicio:hover{
    width: 150px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(40,167,40);
    color:black;
}

.Acerca{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(58, 127, 243);
    text-align: center;
    align-items: center;
}
.Acerca:hover{
    
    margin-left: 25px;
    padding-top: 15px;
    width: 300px;
    background-color: rgb(91,151,250);
    text-align: center;
    align-items: center;
}

.Zona_Horaria{
    position: absolute;
    right: 0;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: large;
    padding-top: 15px;
    background-color: rgb(58, 127, 243);
}

.Zona_Horaria:hover{
    position: absolute;
    right: 0;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    background-color: rgb(91,151,250);
}

.Container_Carpeta{
    width: 99.9%;
    height: 99.8%;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
}

.Barra_Superior{
    display: flex;
    width: 100%;
    height: 21px;
    position: absolute;
    top: 0;
    background-color: rgb(35, 90,217);
    border-top: 2px solid rgba(91, 151, 250, 1);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.boton_cerrar{
    position: absolute;
    top: 5%;
    right: 3px;
    width: 1;
    height: 85%;
}

.Barra_Lateral{
    display: flex;
    width: 10%;
    height: 97.6%;
    position: absolute;
    top: 2.4%;
    left: 0;
    background-color: rgb(107, 133, 220);
}

.Zona_Trabajo{
    width: 90%;
    height: 97.6%;
    position: absolute;
    top: 2.4%;
    right: 0%;
    background-color: rgb(50, 50, 50);
}

.Cinta_Trabajos{
    width: 80%;
    height: 15%;
    position: absolute;
    top: 0;
    left: 5%;
    background-color: rgb(255, 255, 255);
}

.Cinta_Animacion{
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color:rgb(0, 0, 0);
}

.Cinta_Vertical_1{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 2%;
    background-color: rgb(255, 255, 255);
}

.Cinta_Vertical_2{
    width: 10%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 2%;
    background-color: rgb(255, 255, 255);
}

.Zona_Animacion{
    width: 70%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.Zona_Video{
    width: 90%;
    height: 70%;
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: #3A3A3A;
    border-radius: 5px;
}

.Play{
    width: 10%;
    height: 12%;
    position: absolute;
    top: 2%;
    right: 2%;
}

.Imagen_Play{
    width: 100%;
    height: 100%;
}

.Logo_20_Años{
    width: 10%;
    height: 13%;
    position: absolute;
    top: 5%;
    right: 3%;
}

.img_20_Años{
    width: 100%;
    height: 100%;
}

.Foro_Multimedia{
    width: 6%;
    height: 10%;
    position: absolute;
    top: 22%;
    right: 5%;
}

.Foro{
    width: 100%;
    height: 100%;
}

.Info_Materia{
    width: 4%;
    height: 6%;
    position: absolute;
    top: 37%;
    right: 6%;
}

.Info{
    width: 100%;
    height: 100%;
}

.Zona_Frames{
    width: 90%;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.Keyframe{
    width: 100%;
    height: 100%;
}

.Cinta{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Cuadrados{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* .Semi_Circulo{
    width: 25px; 
    height: 50px; 
    border: 2px solid #3172DB;
    background: #4382FF;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
} */

.Semi_Circulo2{
    width: 25px; 
    height: 50px; 
    border: 2px solid #3172DB;
    background: #4382FF;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
}

/* .Circulo_1{
    position: absolute;
    left: 1.5%;
    top: 15%;
}

.Circulo_2{
    position: absolute;
    left: 1.5%;
    top: 30%;
}

.Circulo_3{
    position: absolute;
    left: 1.5%;
    top: 45%;
}

.Circulo_4{
    position: absolute;
    left: 1.5%;
    top: 60%;
}

.Circulo_5{
    position: absolute;
    left: 1.5%;
    top: 75%;
} */

.Circulo2_1{
    position: absolute;
    top: 12.2%;
}

.Circulo2_2{
    position: absolute;
    top: 29.2%;
}

.Circulo2_3{
    position: absolute;
    top: 46.4%;
}

.Circulo2_4{
    position: absolute;
    top: 63.4%;
}

.Circulo2_5{
    position: absolute;
    top: 80.6%;
}

.pag_animacion{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 14%;
    left: 20%;
}

.pag_cortos_guiones{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 20%;
}

.pag_modelado{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 48%;
    left: 20%;
}

.pag_programacion{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 64%;
    left: 20%;
}

.pag_render{
    text-decoration:none;
    font-size: 80%;
    color:rgb(255, 255, 255);
    position: absolute;
    top: 82%;
    left: 20%;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 60%;
    height: 60%;
    transition: transform 0.5s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-1{
    width: 100%;
    height: 30%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.modal-2{
    width: 100%;
    height: 70%;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.close{
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.modal-1 > img{
    position: absolute;
    top: 0%;
    left: -1.2%;
    width: 101%;
    height: 100%;
}

.modal-2 > h2{
    position: absolute;
    top: 0;
    font-size: xx-large;
    color: white;
}

.modal-2 > p{
    font-size: large;
    color: white;
    text-align: left;
}