body{
    background-image: url(https://fondosmil.com/fondo/9728.jpg);

    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Container{
    display: flex;
}

.Zona_Botones{
    margin: auto;
    margin-top: 75px;
    margin-right: 100px;
    margin-left: 50px;
    text-align: center;
    width: 320px;
    height: 825px;
    /* background-color: red; */
}

.Barra_de_Tareas{
    background-color: rgb(35, 90,217);
    height: 50px;
}

.Barra_de_Tareas{
    display: flex;
}