.transition-1{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: darkslateblue;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

.transition-2{
    position: fixed;
    top:0;
    bottom: 0;
    left: -100%;
    width: 100%;
    z-index: 101;
    background-color: darkslateblue;
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    left: 0px;
}

.transition-3{
    position: fixed;
    top:100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    background-color: darkslateblue;
    transition: 0.5s ease-out;
}

.transition-3.is-active {
    top: 0;
}

.loader{
    width: 75px;
    height: 75px;
    border: 8px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;    
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}